{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="static/style21.css" />
    <script src="static/tema21.js"></script>
    <script src="static/def_formular.js"></script>
</head>
<body>

    <form onsubmit="return validare_campuri()">
        <table>
            <tr>
                Sediu: Calea Bucuresti 148, Brasov, Romania
            </td>
            </tr>
            <tr>
                <td>
                    Nume<br/>
                    <input type="text" name="name" id="name"
                           onfocus="focusElement('name')"
                           onblur="blurElement('name')"
                           placeholder="nume"
                           autocomplete="off"/>
                </td>
            </tr>
            <tr>
                <td>
                    Email<br/>
                    <input type="email" name="email" id="email"
                           placeholder="aaa@example.bbb"
                           onfocus="focusElement('email')"
                           onblur="blurElement('email')"/>
                </td>
            </tr>

            <tr>
                <td><input type="submit" value="Trimite"/></td>
            </tr>

        </table>
    </form>
    <div id="error-message" style="color: red;"></div>
</body>
</html>
{% endblock content %}