table#student td {
    border: 1px solid lightgray;
    padding: 10px;
}

table#student input.modify,
table#student input.delete {
    width: 70px;
    border: 0px;
    padding: 5px;
    color: white;
}

table#student input.modify {
    background-color: #337ab7;
}

table#student input.delete {
    background-color: #d9534f;
}

