<html>

<body>

<table>
    <tr>
        <td>O prim lucrare de instalatii fantastice</td>
        <td><img width="250" src="{{ url_for('static', filename='plumbing-1.jpg') }}"></td>
    </tr>
    <tr>
        <td><img width="250" src="{{ url_for('static', filename='plumbing-2.jpg') }}"></td>
        <td>Lucrare de instalatii gaz cu grad mare de maiestrie..</td>
    </tr>
    <tr>
        <td>Piesa de rezistenta a portofoliului nostru..</td>
        <td><img width="250" src="{{ url_for('static', filename='plumbing-3.jpg') }}"></td>
    </tr>

</table>
</body>
</html>